/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  /*font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;*/
  font-family: "Proxima Nova Regular", "Arial Bold", Proxima, Arial;
  margin: 2em;
  min-width: 450px;
  max-width: 540px;
}

h1 {
  font-style: italic;
  color: #1f4ade;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
  max-height: 40px;
  color: #58595b;
  padding-left: 5px;
}

form {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #52e1ff;
  display: inline-block;
  width: 100%;
  max-width: 540px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 1px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

.dreams {
  overflow: auto;
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column-reverse;
  background-color:  #0c153a;
  
  /*background-image: url("https://cdn.glitch.com/9e0b6b14-ffae-4776-b616-9eb73c285ce7%2FDS_Pattern-2_1092x537_C.jpg?v=1568338027843");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: left bottom;*/
}

p.dreams {
  /*height: 40px;*/
  color: #f3f3f4;
}

.frontText {
  color: #f3f3f4;
}

.dateText {
  color: #ff7d2b;
  /*text-indent: 5px;*/
}

.apollo {
  float: left;
  width: 310px;
}

.cassandra {
  float: left;
  width: 140px;
  padding-top: 20px;
  padding-left: 10px;
}

/* Clear floats after image containers */
.headerRow::after {
  content: "";
  clear: both;
  display: table;
}